.Signup {
    width: 30%;
    margin: auto;
    align-items: center;
    padding: 20px;
    font-size: 17px;
    font-style: Arial;
}

fieldset {
    margin-bottom: 10px;
}

.input1 {
    border: 1px solid white;
    font-size: 17px;
    width: 100%;
}

#submitSignup {
    background-color: white;
    font-size: 17px;
    width: 100%;
    padding: 10px;
}

#buttons {
    width: 100%;
}